<html>
    <head>
        <title>jsgurps test page</title>
        <!-- Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        
        <!-- jsgurps code. -->
        <script src="index.js"></script>
        <script>
            var character = ["ST", "DX", "IQ", "HT"].map(
                attr => (json.create_basic_attribute(attr, 0, 10)));
        </script>
    </head>
    <body>
        <h1>jsgurps Testing page.</h1>
        Pop open the developer tools and have a play!

        <div id="gurps-npc-card">
            <ul>
                <li v-for="attr in character">
                    <b>{{ attr.name }}</b> {{ attr.level }}[{{ attr.points }}]
                </li>
            </ul>
        </div>
        <script>
        var app = new Vue({
            el: '#gurps-npc-card',
            data: {
                character: character
            }
        });
        </script>
    </body>
</html>